<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<div class="container-fluid">
  <nav>
    <a
      routerLink="customers"
      class="btn btn-primary active"
      role="button"
      routerLinkActive="active"
      >Customers</a
    >
    <a
      routerLink="add"
      class="btn btn-primary active"
      role="button"
      routerLinkActive="active"
      >Add</a
    >
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="jumbotron text-center">
  <h1>My First Bootstrap Page</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>

<h2>Here are some links to help you start:</h2>
<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/tutorial"
        >Tour of Heroes</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://angular.io/cli"
        >CLI Documentation</a
      >
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://blog.angular.io/"
        >Angular blog</a
      >
    </h2>
  </li>
</ul>
